.apc/
.cproject
.project
.settings/
.vitis_hls_log_all.xml
*.inc
*.o
Debug/
zcu104/csim
zcu104/syn
zcu104/.autopilot/
zcu104/.debug/
zcu104/directives.tcl
zcu104/impl/misc/*.tcl
zcu104/impl/misc/logo.png
zcu104/impl/verilog/
zcu104/impl/vhdl/
zcu104/script.tcl
zcu104/zcu104.aps
zcu104/zcu104.directive
zcu104/zcu104.log
zcu104/zcu104_data.json
app/sds_trace_data.dat
